# .env
# настройка: всё по инструкции на сайте, дальше
# Project Settings -> Project Access Tokens -> Create New Token -> post_server_item
# проверить работоспособность Rollbar `curl http://localhost:3000/rollbar/test`
ROLLBAR_ACCESS_TOKEN=30c6d1d6725a959b5d7420f9392103ae

GITHUB_CLIENT_ID=ваш_client_id
GITHUB_CLIENT_SECRET=ваш_client_secret
