
.container.py-5x
  .row
    h1 = I18n.t('bulletins.index.title')
    hr
    .mb-4
      = form_with url: bulletins_path,
              method: :get,
              class: 'row g-3 align-items-center' do |f|
        .col-auto.flex-grow-1
          = f.search_field :q,
                  value: params[:q],
                  class: 'form-control form-control-lg',
                  placeholder: I18n.t('bulletins.index.search')
        .col-auto
          = f.submit 'Найти', class: 'btn btn-primary btn-lg'
          - if params[:q].present?
            = link_to 'Сбросить', bulletins_path, class: 'btn btn-outline-secondary btn-lg ms-2'
    hr

    / Результаты поиска
    .row
      - if @bulletins.any?
        = render @bulletins
      - else
        .col-12.text-center.py-5
          p.lead.text-muted = I18n.t('bulletins.index.no_content')
