
h3 = t('admin.bulletins.index.title')

.mb-4
  = form_with url: admin_categories_path,
          method: :get,
          class: 'row g-3 align-items-center' do |f|
    .col-auto.flex-grow-1
      = f.search_field :q,
              value: params[:q],
              class: 'form-control form-control-lg',
              placeholder: I18n.t('bulletins.index.search')

    .col-auto
      = f.submit 'Найти', class: 'btn btn-primary btn-lg'
      - if params[:q].present?
        = link_to 'Сбросить', admin_categories_path, class: 'btn btn-outline-secondary btn-lg ms-2'

= link_to t('admin.bulletins.new.create'), new_admin_category_path

= will_paginate @categories, class: 'pagination'

table.table.table-striped.table-bordered
  thead.bg-primary.text-white
    tr
      th = t('admin.categories.index.table.title')
      th = t('admin.categories.index.table.created_at')
      th = t('admin.categories.index.table.actions')

  tbody
    - @categories.each do |category|
      tr
        td = link_to category.name, edit_admin_category_path(category)
        td = t('admin.bulletins.index.time_ago', time: time_ago_in_words(category.created_at))
        td
          .d-flex.gap-2
            = button_to t('admin.categories.index.actions.destroy'),
              admin_category_path(category),
              method: :delete,
              class: 'nav-link text-danger',
              data: { turbo_confirm: t('profile.index.confirm_archive') }
