
h3 = t('admin.bulletins.index.title')

= will_paginate @bulletins, class: 'pagination'

table.table.table-striped.table-bordered
  thead.bg-primary.text-white
    tr
      th = t('admin.bulletins.index.table.title')
      th = t('admin.bulletins.index.table.created_at')
      th = t('admin.bulletins.index.table.actions')

  tbody
    - @bulletins.each do |bulletin|
      tr
        td = link_to bulletin.title, bulletin_path(bulletin)
        td = t('admin.bulletins.index.time_ago', time: time_ago_in_words(bulletin.created_at))
        td
          .d-flex.gap-2
            - if bulletin.may_publish?
              = button_to t('admin.bulletins.index.actions.publish'),
                      publish_admin_bulletin_path(bulletin),
                      method: :patch,
                      class: 'nav-link',
                      data: { turbo_confirm: t('profile.index.confirm_archive') }
            - if bulletin.may_reject?
              = button_to t('admin.bulletins.index.actions.reject'),
                      reject_admin_bulletin_path(bulletin),
                      method: :patch,
                      class: 'nav-link',
                      data: { turbo_confirm: t('profile.index.confirm_archive') }
            - if bulletin.may_archive?
              = button_to t('admin.bulletins.index.actions.archive'),
                      archive_admin_bulletin_path(bulletin),
                      method: :patch,
                      class: 'nav-link text-danger',
                      data: { turbo_confirm: t('profile.index.confirm_archive') }
