.container.mt-4
  .row.justify-content-center
    .col-md-8
      .card
        .card-header
          h1.mb-0 = t('bulletins.new.title')
        .card-body
          = simple_form_for @bulletin, url: profile_index_path do |f|
            = f.error_notification class: 'alert alert-danger'

            .mb-3 class=('has-error' if @bulletin.errors[:title].any?)
              = f.input :title,
                      label: t('bulletins.new.labels.title'),
                      input_html: { class: "form-control #{'is-invalid' if @bulletin.errors[:title].any?}" }

            .mb-3 class=('has-error' if @bulletin.errors[:description].any?)
              = f.input :description,
                      as: :text,
                      label: t('bulletins.new.labels.description'),
                      input_html: { rows: 5, class: "form-control #{'is-invalid' if @bulletin.errors[:description].any?}" }

            .mb-3 class=('has-error' if @bulletin.errors[:category].any?)
              = f.association :category,
                      label: t('bulletins.new.labels.category'),
                      input_html: { class: "form-select #{'is-invalid' if @bulletin.errors[:category].any?}" },
                      prompt: t('bulletins.new.prompts.category')

            .mb-3 class=('has-error' if @bulletin.errors[:image].any?)
              = f.input :image,
                      as: :file,
                      label: t('bulletins.new.labels.image'),
                      input_html: { accept: 'image/png,image/jpg,image/jpeg', class: "form-control #{'is-invalid' if @bulletin.errors[:image].any?}" },
                      hint: t('bulletins.new.hints.image')
              - if @bulletin.errors[:image].any?
                .invalid-feedback.d-block
                  = @bulletin.errors[:image].join(', ')

            .d-flex.justify-content-between
              = f.button :submit, t('bulletins.new.buttons.submit'), class: 'btn btn-primary'
              = link_to t('bulletins.new.buttons.cancel'), root_path, class: 'btn btn-secondary'