
.d-flex.flex-column
  a.btn.mb-2 href="#{admin_bulletins_path}" class="#{class_of('BulletinsController')}" = t('admin.bulletins.index.buttons.moderation')
  a.btn.mb-2 href="#{admin_index_path}" class="#{class_of('AdminController')}" = t('admin.bulletins.index.buttons.all')
  a.btn.mb-2 href="#{admin_categories_path}" class="#{class_of('CategoriesController')}" = t('admin.bulletins.index.buttons.categories')
