nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    a.navbar-brand[href="#{root_path}"]
      = I18n.t('app_title')
    button.navbar-toggler[type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation']
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active[aria-current='page' href="#{root_path}"]
            = I18n.t('main_nav.dashboard')

      - if current_user
        span.text-secondary.me-4
          = current_user.email

        a.navbar-brand[aria-current='page' href="#{sessions_path}" data-turbo-method='delete']
          = I18n.t('main_nav.logout')
      - else
        span.text-secondary.me-4
          a.nav-link.active[aria-current='page' href="#{new_session_path}"]
            = I18n.t('main_nav.new_session')
        span.text-secondary.me-4
          a.nav-link.active[aria-current='page' href="#{new_user_path}"]
            = I18n.t('main_nav.new_user')
